/* Подвал */
.footer__logo {
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
  letter-spacing: 0.03em;
}
.footer__logo_change {
  color: var(--highlight-color);
}
.footer .container {
  display: flex;
  align-items: baseline;

}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer .contacts {
  margin-top: 9px;
}
.footer .contacts li:not(:first-child) {
  margin-top: 9px;
}
.address-section {
  margin-top: 20px;
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* Присоединяйтесь */
.connect-container {
  margin-left: auto;
}
.connect-title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.connect-list {
  display: flex;
}
.connect-list li:not(:last-child) {
  margin-right: 10px;
}
.connect-icons a {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect-icons a:hover,
.connect-icons a:focus {
  background-color: var(--highlight-color);
  fill: var(--white-color);
}
/* Подписка */
.subscribe-container {
  margin-left: auto;
}
.form-container {
  display: flex;
}
.subscribe-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
}
.subscribe-input {
  background-color: #2f303a;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
}
.icon-send {
  margin-left: 10px;
}
